.back{
    background-color: #f0f5f5;
    height: 100vh;
    padding: 30px 20px;

}

.Input{
    background-color: red;
}
.Button{
    background-color: black;
    color: #00cc99;
    float: right;
    width: 200px;
    border: black;
}
.Button:hover{
    background-color: #1a1a1a;
    color: white;
}

/* cart */
.cart{
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.cartImg{
    height: 60px;
    width: 60px;
    /* border-radius: 50%; */
}
