.back {
    /* background-color: green; */
    min-height: 100%;
    padding: 30px 20px;
}

.Input {
    background-color: red;
}

.rowTopAtleti {
    margin-top: 5vh;
}

.btnColAtleti {
    display: flex;
    justify-content: flex-end;
    /* background-color: red; */
}

#Button {
    /* background-color: black;
    color: #00cc99;
    float: right;
    width: 200px;
    border: black; */
    margin-right: 50px;
    width: 177px;
    height: 46px;
    top: 298px;
    background: #1a1a1a;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #44dabd;
}

#Button:hover {
    background-color: #1a1a1a;
    color: white;
}

/* cart */

.cart {
    background-color: white;
    margin: 20px 50px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    /* width: 500px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

.cartImg {
    height: 60px;
    width: 60px;
    /* border-radius: 50%; */
}

.test {
    /* display: flex;
    justify-content: flex-end;*/
    background-color: red;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    /* height: 100%; */
    /* display: block; */
    /* position: fixed; */
    /* bottom: 30px; */
    /* left: 10px;  */
    /* margin-top: auto; */
    /* display: grid; */
    /* grid-gap: 10px; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}

.noMargin {
    margin-bottom: 0px;
}



.Name {
    font-size: 23px;
    margin-bottom: 0px;
}

.Gender_Years {
    margin-top: 0px;
}

.marginBotRow {
    margin-bottom: 15px;
}

.primary_sport, .secondary_sport {
    color: grey;
    margin-bottom: 0px;
}

/* ------------------------------------------------------------------------------------------------ */

.centerPaginationAtlet {
    display: flex;
    justify-content: center;
}

.test1 {
    /* background-color: blue; */
    /* height: 100%; */
    /* position: absolute;
    right: 40%;
    bottom: 50px; */
}

.test2 {
    /* position: absolute; */
    /* bottom:  1px; */
}

.textTopAthlets {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
    margin-top: 4vh;
}

#searchAtletRow {
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    justify-content: space-between;
}

#searchAtlet {
    background: #ffffff;
    border: 1px solid #8e9296;
    box-sizing: border-box;
    border-radius: 8px;
    height: 100%;
    align-items: center;
    justify-content: center;
 
}
.inputDiv{
    width: 400px;
    display: inline-block;
}

#addNewButtonAtlet {
    width: 177px;
    height: 46px;
    /* top: 298px; */
    background: #1a1a1a;
    border-radius: 8px;
    font-family: Inter;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #44dabd;
    /* float: right; */
}


@media only screen and (max-width: 992px) {
    #addNewButtonAtlet {
        width: 100%;
        margin: 0px;
        /* background-color: red; */
    }
}

@media only screen and (min-width: 992px) {
    .test1 {
        position: absolute;
        right: 40%;
        bottom: 50px;
    }
 
}